#projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;
    align-items: center;
    margin-top: 30px;
    
}

.projects{
    background:  linear-gradient(38.73deg, rgba(204, 0, 187, 0.15) 0%, rgba(201, 32, 184, 0) 50%), linear-gradient(141.27deg, rgba(0, 70, 209, 0) 50%, rgba(0, 70, 209, 0.15) 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%,100% 98%, 0 100%);

}

#Wrapper{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1350px;
    padding: 10px 0px 100px 0;
    gap: 12px;

    @media (max-width: 960px) {
        flex-direction: column;
    }
}

#Title{
text-align: center;
font-weight: 600;
margin-top: 20px;
  color: #fff;

  @media (max-width: 768px) {
      margin-top: 12px;
  }
}

#ToggleButtonGroup {

    display: flex;
border: 1.5px solid teal;
color: #fff;
font-size: 16px;
border-radius: 12px;
font-weight: 500;
margin: 22px 0px;
@media (max-width: 768px) {
    font-size: 12px;
}
}

#ToogleButton{
    padding: 8px 18px;
    border-radius: 6px;
    cursor: pointer;
    background: teal;
    border: 1px solid black;
    margin: 5px;
    
    &:hover {
        background: #844ce669;
    }
    @media (max-width: 768px) {
        padding: 6px 8px;
        border-radius: 4px;
    }
}

.vr{
    width: 1.5px;
    background: #fff;
}

#CardContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
    flex-wrap: wrap;
    margin-top: 20px;
}

#Card{
    width: 330px;
    height: 490px;
    background-color: black;
    /* margin-bottom: 30px; */
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid teal;     
    /* box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.4); */
    overflow: hidden;
    padding: 26px 20px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    transition: all 0.5s ease-in-out;
    &:hover {
        transform: translateY(-10px);
        box-shadow: 0 0 50px 4px rgba(0,0,0,0.6);
        filter: brightness(1.1);
    }
    &:hover {
        display: block;
    }
}

#Card:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2), rgba(23, 92, 230, 0.25) 0px 6px 28px; /* Adjust the glowing effect on hover */
  }

#Image{
    width: 100%;
    height: 180px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 16px 2px rgba(0,0,0,0.3);
}

#Tags{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 4px;
}

#Tag{
    font-size: 12px;
    font-weight: 400;
    color: white;
    background-color: teal;
    padding: 2px 8px;
    border-radius: 10px;
}

#Details{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding: 0px 2px;
}

#TagTitle{
    font-size: 25px;
    font-weight: 100;
    color: #fff;
    overflow: hidden;
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

#Date{
    font-size: 12px;
    margin-left: 2px;
    font-weight: 400;
    color: hwb(0 72% 28%);
    @media only screen and (max-width: 768px){
        font-size: 10px;
    }
}

#Description{
    font-weight: 400;
    color:hwb(0 72% 28%);
    overflow: hidden;
    margin-top: 8px;
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}


/* Modal.css */

.modal-content {
    background-color: black;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid rgba(127, 101, 231, 0.8);
    color: white; /* Ensure text color is visible */
  }
  
  .modal-header {
    border-bottom: none;
    display: flex;
    justify-content: space-between;
    color: white; /* Ensure text color is visible */
  }
  
  .modal-title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .modal-body {
    font-size: 16px;
  }
  
  .modal-footer {
    border-top: none;
  }
  
  .modal-footer button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    background-color: #945BF5;
    color: #fff;
    border: none;
    transition: background-color 0.3s;
  }
  
  .modal-footer button:hover {
    background-color: #844ce669;
  }
  
  